# Making sure no data is leaked onto the repo

[Dd]ata
*.csv

# Editor enviroments
.[Pp]ython
.[Ii]dea
[Pp]yvenv.cfg
[Vv]env

# mac osx file
*.DS_Store

# Images
*.png
*.PNG
*.jpg
*.JPG

webhook.txt